# Gorka CODEOWNERS

# Назначение владельца (ответственного) для разных частей проекта.

# ================================
# Основной код
# ================================
/gorka/ @MiCkEyZzZ
/.github/workflows/ @MiCkEyZzZ
